body {
  background-image: url(../assignment/record.png);
  background-repeat: repeat;
  color: #F9A124;
  background-color: #2B0001;
  margin: 0;
}

header {
  color: #CC5500;
  background-color: #420D09;
  text-align: center;
  padding: 5px;
}

main {
  color: #000000;
  background-color: #BBC4CC;
  padding: 1em;
}
